body{
    background-image: ;
}
.header {
    background-color: lightgray;
    width: 100%;
    height: 50px;
}

#compName {
    font-family: 'Anton', sans-serif;
    font-size: 18px;
}


#coffees{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
h2 {
    font-family: 'Abel',sans-serif;
    font-size: 20px;
}
h3  {
    font-family: 'Abel',serif;
    font-size: 12px;
}
.coffee {
    display: flex;
    width: 150px;
    height: 200px;
    border: solid #675041 3px;
    background-image: url("Preview22 copy.jpg");
    background-size: 150%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-position: center;
}
#selectButton{
    height: 10px;
}
.button{
    height: 1.5em;
    font-size: 10px;
}